[user]
    email = hugo@perdomo.dev
    name = Hugo Perdomo
[core]
    editor = nvim
[alias]
    fomo = !git fetch origin main && git rebase origin/main --autostash
    lg = !git --no-pager log --pretty=format:\"- %h: %s\"
[init]
    defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
